body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  border-radius: 20px;
  
}

.logo {
  height: 40px; /* Tamaño del logo */
}

body {
  margin-top: 70px;
}

/*Menu inicial*/
.navbar {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  max-width: 400px;
  margin: 20px auto;
  position: fixed; /* Fija el navbar en la pantalla */
  right: 105px; /* Lo coloca al lado derecho */
}

.navbar-menu {
  list-style: none;
  display: flex;
  gap: 15px;
  margin: 0;
  padding: 0;
}

.navbar-menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.navbar-menu li a:hover {
  color: #8869A5;
}

/* Estilo para el enlace FAQ */
.faq-container {
  position: fixed; /* Fija el enlace en la pantalla */
  right: 20px; /* Lo coloca al lado derecho */
  border-radius: 20px;
}

.faq-link {
  text-decoration: none;
  color: white;
  background-color: #C58ADE; /* Fondo morado */
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 14px;
}

.faq-link:hover {
  background-color: #8869A5; /* Cambia el color al pasar el mouse */
}
